spacy
joblib
torch
numpy
tqdm
transformers
bs4
dvc
dvc-gdrive
sentencepiece
unstructured
langchain-community
langchain
sentence-transformers
datasets
python-telegram-bot
python-dotenv

# В случае кастомного развертывания необходимо раскомментировать. Настройка и установка выполняется в run_app.sh
# faiss-cpu
# faiss-gpu
# llama-cpp-python