spacy
torch
numpy
tqdm
transformers
bs4
faiss-cpu
# faiss-gpu
dvc
dvc-gdrive
sentencepiece
unstructured
langchain-community==0.2.1
langchain
sentence-transformers
llama-cpp-python
datasets
python-telegram-bot
python-dotenv
langchain-core==0.2.1
joblib
